* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GRID stilizacija */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 150px 150px;
    gap: 20px;
    padding: 20px;
}

.item {
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    background: #ff6247;
    color: white;
}

.grid .item:nth-of-type(1) {
    grid-row: span 2;
    grid-column: span 2;
}

.grid .item:nth-of-type(2) {
    grid-column: span 2;
}

/* FLEXBOX stilizacija */
main {
    display: flex;
    width: 100%;
}

.flexbox {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 15px;
}

.flexbox-1 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin: 0 15px;
}

.big-box {
    width: 100%;
    height: 331px;
    background: #acd7e7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-2 {
    width: 100%;
    height: 150px;
    background: #acd7e7;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.flexbox-2 {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-3 {
    width: 49%;
    height: 150px;
    background: #acd7e7;
    display: flex;
    justify-content: center;
    align-items: center;
}


